/* Seller-carusel.css */
.product {
    position: relative;
    width: 100%; /* Ensure the parent container is full width */
    overflow: hidden; /* Hide overflow to ensure proper scrolling */
  }
  
  .product-container {
    display: flex;
    width: 100%; /* Full width of the parent container */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    overflow: hidden;
  }
  
  .product-container > * {
    flex: 0 0 auto; /* Adjust items to take their intrinsic width */
    min-width: 300px; /* Example width for each item, adjust as needed */
    box-sizing: border-box;
  }
  
  .pre-btn, .nxt-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    border-radius: 9px;
    background-color: rgb(25, 23, 23, 0.1);
    
  }
  
  .pre-btn {
    left: 10px;
  }
  
  .nxt-btn {
    right: 10px;
  }

  .pre-btn:hover, .nxt-btn:hover {
    background-color: rgb(255, 255, 255) ;
  }
  
  