.sidebar{
    width: 15%;
    height: 100%;
    background-color: #1e2753;
}

.sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    padding-left: 30px;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }

  hr {
    border: 1px solid #ccc; /* Change the color as needed */
    margin: 10px 0; /* Adjust the spacing */
}